<%= turbo_stream.prepend "tasks" do %>
  <div class="animate__animated animate__fadeInDown">
    <%= render partial: "tasks/task", locals: { task: @task } %>
  </div>
<% end %>
<%= turbo_stream.remove "modal" %>